body {
    font-family: Arial, serif;
    background-color: #121212;

}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: saddlebrown;
    text-align: center;
}
}

.sidebar div {
    padding: 8px;
    font-size: 30px;
    display: block;
}

.logo-img{
    width: 200px;
}

.container {
    margin-left: 200px;
    font-size: 18px;
}

