body {
    font-family: Arial, serif;
    background-color: #121212;
}
/*Container som inneholder bilde og tekst */
.container {
    position: center;
    text-align: center;
    color: white;
}

/*Stor tekst over bildet */
.overst-venstre {
    position: absolute;
    top: 300px;
    left: 350px;
    font-size:100px;
    text-align: left;
    letter-spacing: -4px;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

/*Sidenav venstre side */
.side-nav {
    width: 250px;
    height: 100%;
    background: saddlebrown;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo{
    display: block;
    margin-bottom: 130px;
}

.logo-img{
    width: 260px;
}

.nav-links{
    list-style: none;
    position: relative;
}

.nav-links li{
    padding: 10px 0;
}

.nav-links li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 12px;
    margin-right: 20px;
}


