body {
    font-family: Arial, serif;
    background-color: #121212;
}
/*Container som inneholder bilde og tekst */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/*Stor tekst over bildet */
.overst-venstre {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 170px;
    text-align: left;
    letter-spacing: -4px;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

/*Undertekst over bildet */
.undertekst-forside {
    position: absolute;
    top: 600px;
    left: 16px;
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
    font-style: italic;
}

/*Tekst nederst til venstre side over bildet */
.undertekst-nederst-venstre {
    position: absolute;
    bottom: 50px;
    left: 16px;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
}

/*Tekst nederst til venstre side over bildet */
.undertekst-nederst-venstre {
    position: absolute;
    bottom: 50px;
    left: 16px;
    font-size: 23px;
    text-align: left;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
}


/*Tekst nederst til venstre side over bildet */
.undertekst-venstre-copyright {
    position: absolute;
    bottom: 35px;
    left: 16px;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
}

/*Hvis størrelse på skjerm er minst 1081px bred eller mer, oppretthold font størrelse */
@media screen and (min-width: 1081px) {
    .overst-venstre {
        font-size: 170px;
    }
    .undertekst-forside {
        font-size: 25px;
    }
    .undertekst-nederst-venstre {
        font-size: 23px;
    }
    .undertekst-venstre-copyright {
        font-size: 12px;
    }
}
/* Hvis størrelse på skjermen er 1080px eller mindre, mink font størrelse*/
@media screen and (max-width: 1080px){
    .overst-venstre {
        font-size: 85px;
    }
    .undertekst-forside {
        font-size:15px;
    }
    .undertekst-nederst-venstre {
        font-size: 14px;
    }
    .undertekst-venstre-copyright {
        font-size: 10px;
    }
}